@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media screen {
	* {
		direction: rtl;
		font-family: 'Roboto', sans-serif;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		z-index: 10;
	}

	:root {
		--links-color: #505f98;
		--color-main-blue: #091133;
	}

	#figure1 {
		position: absolute;
		right: 0%;
		top: -1.06%;
		width: 65vw;
		z-index: 0;
	}

	#figure2 {
		position: absolute;
		right: 0vw;
		top: 40vh;
		width: 30vw;
		z-index: 1;
		transform: translate(-50%, -50%);
	}

	#figure3 {
		position: absolute;
		right: -10vw;
		top: 80vh;
		width: 25vw;
		z-index: 1;
		transform: translate(-50%, -50%);
	}

	body {
	}

	#navbar {
		top: 0;
		height: 5vh;
		width: 100%;
		position: fixed;
		display: flex;
		padding: 1vw 15vw;
		align-items: center;
		justify-content: end;
	}

	#navbar div {
		display: flex;
	}

	#navbar div a {
		text-decoration: none;
		color: var(--links-color);
		padding: 3px 10px;
		font-size: 1vw;
	}

	#navbar p {
		font-size: 1.5vw;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-weight: bold;
	}

	#home {
		position: absolute;
		top: 40vh;
		width: 40vw;
		left: 10vw;
	}

	#home h1 {
		font-size: 3vw;
		text-align: center;
	}
	#home p {
		font-size: 1vw;
		text-align: center;
		margin-top: 1vh;
	}

	#home div {
		display: flex;
		width: 70%;
		margin-top: 10vh;
		margin-right: 30%;
	}

	#home div a {
		text-decoration: none;
		padding: 5px 10px;
		margin: 0px 10px;
		border: 2px solid var(--color-main-blue);
	}

	#home div a:nth-child(1) {
		color: var(--color-main-blue);
	}

	#home div a:nth-child(2) {
		background-color: var(--color-main-blue);
		color: white;
	}
}
